textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
    outline: 0px !important;
    -webkit-appearance: none;
    box-shadow: none !important;
}

.search-bg {
    background-image: url(/images/wqa_857x260.jpg);
    height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}
.result-header {
    display: none;
}
.search-input {
    position: relative;
}
#invalid-tooltip {
    position: absolute;
    top: 100%;
    z-index: 5;
    display: block;
    max-width: 100%;
    padding: 0.25rem 0.5rem;
    margin-top: 0.1rem;
    font-size: 0.875rem;
    color: #fff;
    background-color: rgba(220, 53, 69, 0.9);
    border-radius: 0.25rem;
}
.border-s {
    border-left: 10px solid;
    background-color: #f2f2f2;
}
.card-head {
    padding: 10px;
    margin: auto;
    text-align: center;
}
.card-image {
    width: 75%;
}
#show-more-btn {
    display: none;
}
.phone-features h5 {
    margin: 0;
    line-height: 1.8rem;
}
.feature-icon {
    font-size: 40px;
    display: flex;
    align-items: center;
}
.feature-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.text-color {
    color: #b50404;
}
.others-feature table {
    font-size: 18px;
    line-height: 2rem;
}
.others-feature table th {
    width: 160px;
}
#phones-container .col .card {
    transition: 0.5s;
}
#phones-container .col:hover .card {
    box-shadow: 1px 4px 18px 0px rgb(0 0 0 / 30%);
}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {
    .search-bg {
        height: auto;
    }
    .card-image {
        width: 100%;
    }
}
